
.foraria-card {
  background: white;
  border: 1px solid rgba(8, 61, 119, 0.1);
  border-radius: var(--radius);
  box-shadow: 0 2px 8px rgba(8, 61, 119, 0.1);
  transition: all 0.3s ease;
}

.foraria-form{
      padding: 2em;
}

.foraria-card:hover {
  box-shadow: 0 4px 16px rgba(8, 61, 119, 0.15);
  transform: translateY(-2px);
}


.foraria-dark-card {
  background: var(--muted-foreground); 
  color: var(--foraria-light-text);
  border: none;
  border-radius: var(--foraria-large-radius);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.foraria-form-container {
  background: var( --foraria-primary);
  color: var(--foraria-light-text); 
  border-radius: var(--foraria-large-radius);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  padding: 32px;
  margin: 0 auto;
  position: relative;
  max-width: 480px;
  width: 800px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.foraria-form-title {

  font-weight: var(--font-weight-medium);
  margin-bottom: 16px;
  text-align: center;
}



.foraria-form-link {
  color: var(--muted); 
  font-size: 12px;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.foraria-form-link:hover {
  color: var(--accent);
}


.foraria-secondary-link {
  color: var(--primary);
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
  display: block;
}


.foraria-logo {
  width: 40%; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.foraria-centered-link {
  margin-top: 16px; 
  text-align: center;
}

.foraria-left-link{
      display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.foraria-input{
  background-color: black !important;
}



.foraria-image-upload-button {
  border-radius: 8px !important; 
  border: 1px solid var(--foraria-input-border) !important;
  background-color: white !important; 
  color: var(--primary) !important;
  padding: 12px 16px !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  justify-content: flex-start !important; 
  text-align: left !important;
  margin-bottom: 15px !important; 
  margin-top: 10px !important; 
}

.foraria-image-upload-button:hover {
  background-color: rgba(244, 211, 94, 0.05) !important;
  box-shadow: 0 0 0 3px rgba(244, 211, 94, 0.2) ,
              0 4px 8px rgba(8, 61, 119, 0.15) !important;
}

.foraria-page-container {
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0 8px 28px rgba(8, 61, 119, 0.08);
  border: 1px solid var(--divider);
  width: 100%;
  box-sizing: border-box; 
  padding: 16px; 
}


.foraria-layout {
  display: flex;
  width: 100%;
}

.foraria-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
