.foraria-profile-section {
  background: #ffffff;
  border-radius: 1rem; 
  box-shadow: 0 4px 12px rgba(0.1, 0.1, 0.1, 0.1);
  padding: 16px;
  margin-bottom: 24px;
  width: 100%;
  position: relative; 
}


.foraria-profile-header {
    display: flex;
    margin: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.foraria-profile-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #083d77;
  margin-left: 16px;
}

.foraria-profile-depto {
  font-size: 0.875rem;
  color: #6c757d;
  margin-left: 16px;
}


.foraria-profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foraria-profile-label {
  color: #083d77;  
  font-weight: normal;
  flex: 1;
}

.foraria-profile-value {
  background: #f8f9fa;  
  border-radius: 0.5rem;
  padding: 8px 12px;
  flex: 2;
  text-align: left;  
  color: #6c757d;
}

.foraria-profile-value-status {
  background: rgba(76, 175, 80, 0.1);  
  border-radius: 0.5rem;
  padding: 8px 12px;
  flex: 2;
  text-align: left; 
  color: #4caf50;
}


.foraria-edit-button {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 0.875rem;
}

.foraria-profile-edit-button-container {
 display: flex;
 flex-direction: row-reverse;
}


.foraria-role-chip {
  margin-left: 8px;
  color: #ee964b !important;  
}

.foraria-status-chip {
  background: none !important; 
  color: #4caf50;
}

