:root {
  --font-size: 16px;


  --foraria-primary: #083d77;
  --foraria-background: #ebebd3;
  --foraria-accent: #f46825;
  --foraria-secondary: #ee964b;
  --foraria-alert: #f95738;


  --radius: 0.75rem;
  --foraria-large-radius: 1.25rem; 

  --font-weight-medium: 500;
  --font-weight-normal: 400;

  
  --foraria-light-text: #ebebd3; 
  --foraria-input-border: rgba(0, 0, 0, 0.2);
}